@tailwind base;
@tailwind components;
@tailwind utilities;

.btm-nav > * {
    opacity: 0.5;
    transition: opacity 300ms ease-in-out;
}

.btm-nav > *:where(.active) {
    border-top-width: 2px;
    --tw-bg-opacity: 1;
    opacity: 1;
    background-color: var(--fallback-b1,oklch(var(--b1)/var(--tw-bg-opacity)));
}

.slick-list {
    overflow: visible;
}

.slick-track {
    display: flex;
    gap: 0.5rem;
}
